{% extends 'base.html' %}

{%block title%}Home {%endblock title%}

{%block body%}

<body>
  <div class="boxContainerContainer" id="c1" style="margin: 85px;">

    <div id="boxContainer">

      <div id="box1">
        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/aries.jpg" class="card-img-top" alt="..." width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Aries</h5>
            <p class="card-text">1 zodiac
              </p>
            <a href="/Aries" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>






        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/leo.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Leo</h5>
            <p class="card-text">5th</p>
            <a href="/Leo" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>




        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/Saggitarius.webp" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Saggitarius</h5>
            <p class="card-text">9th</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>

      <!---2nd row card-->

      <div id="box2" >

        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/taurus.jpg" class="card-img-top" alt="..." width="100"  height="200">
          <div class="card-body">
            <h5 class="card-title">tauraus</h5>
            <p class="card-text">4th zodiac</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>






        <div class="card" style="width: 18rem; margin-bottom: 100px;">

          <img src="/static/virgo.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">virgo</h5>
            <p class="card-text">6th
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>




        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/capricorn.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Capricorn</h5>
            <p class="card-text">
              10</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
        <!---2nd row closed-->
      <!--3rd row-->


      <div id="box3" >


        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/gemini.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Gemini</h5>
            <p class="card-text">3rd
              </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>






        <div class="card" style="width: 18rem; margin-bottom: 100px;">

          <img src="/static/libra.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Libra</h5>
            <p class="card-text">7th
              </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>




        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/Aquarius.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Aquarius</h5>
            <p class="card-text">11th
              </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      
       <!---3rd closed--->

       <!---4th row-->


       <div id="box4" >


        <div class="card" style="width: 18rem; margin-bottom: 100px;" >
          <img src="/static/cancer.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Cancer</h5>
            <p class="card-text">4th
              .</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>






        <div class="card" style="width: 18rem; margin-bottom: 100px;">

          <img src="/static/scorpio.webp" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">8th</h5>
            <p class="card-text">
              Scorpio</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>




        <div class="card" style="width: 18rem; margin-bottom: 100px;">
          <img src="/static/pisces.jpg" class="card-img-top" alt="..."  width="100" height="200">
          <div class="card-body">
            <h5 class="card-title">Pisces</h5>
            <p class="card-text">12th
              </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 
      
       <!--4th row closed-->
    </div>
    </div>
  
</body>

<style>
  #box1 {


    width: 50px;
    height: 50px;
    background: #999;
    
  }

  #box2 {
    width: 50px;
    height: 100px;
    background: #999;
  margin-left: 300px;
}


#box3 {
    width: 50px;
    height: 100px;
    background: #999;
   margin-left: 300px;
}

#box4 {
    width: 100px;
    height: 50px;
    background: #999;
   margin-left: 300px;
   display: inline-block;
   vertical-align: top;
  
}

#boxContainer, #box1, #box2,#box3{
display: inline-block;
vertical-align: top;
}

#boxContainer, #box1, #box2, #box3 {
display: inline !ie7;
margin: 0 2px !ie7;
}

#boxContainerContainer {
    background: #fdd;
    text-align: center;
    margin: 0px;
    padding: 500px;
}

</style>



{%endblock body%}